//Main stylesheet


//Misc Styles
p, a, ul, ol, li {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}


h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

body {
	margin: 0;
}


//General Section Styles
.section {
	max-width: 1400px;
    width: 90%;
    margin: auto;

    .s-i {

    	.hdr {

    		h2 {
    			font-size: 46px;
			    font-weight: 500;
			    line-height: 1em;

		    	@media screen and (max-width: 766px){
		        	font-size: 40px;
		        }

			    &:after{
	    			content: "";
    			    border-top: 1px solid #e6e6e6;
    			    width: 50px;
    			    position: relative;
    			    display: block;
    			    margin-bottom: 18px;
    			    margin-top: 18px;
	    		}
    		}
    	}

    	.txt {

    		p {
	    		font-size: 18px;
	    		font-weight: 300;
	    		line-height: 1.5em;
	    		max-width: 800px;
	    		color: #666;

	    	}
    	}
    }
}


//Header/nav section
#nav {
	padding-top: 80px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 766px){
    	display: block;
    	padding-top: 50px;
    }


    .sl {
    	width: calc(100% - 300px);
	    display: flex;
	    flex-wrap: wrap;

	    @media screen and (min-width: 767px) and (max-width: 1140px){
	    	width: calc(100% - 200px);
	    }

	    @media screen and (max-width: 766px){
	    	width: 100%;
	    	display: block;
	    }

	    .pic {
	    	width: 220px;
    		margin-right: 50px;

    		@media screen and (min-width: 981px) and (max-width: 1140px){
		    	width: 190px;
		    }

		    @media screen and (min-width: 767px) and (max-width: 980px){
		    	width: 140px;
		    }

		    @media screen and (max-width: 766px){
		    	width: 140px;
	    	    margin: auto auto 1em;
		    }

    		img {
    			-webkit-border-radius: 50%;
    			border-radius: 50%;
    			width: 100%;
    			display: block;
    			transition: all 0.3s ease;

    			&:hover{
    				transform: scale(1.1);
    			}
    		}
	    }

	    .main-hdr {
	    	display: table;
    	    width: calc(100% - 270px);
    	    vertical-align: middle;
    	    height: 100%;

    	    @media screen and (min-width: 981px) and (max-width: 1140px){
		    	width: calc(100% - 240px);
		    }

		    @media screen and (min-width: 767px) and (max-width: 980px){
		    	width: calc(100% - 190px);
		    }

		    @media screen and (max-width: 766px){
		    	width: 100%;
		    	height: auto;
		    	display: block;
		    }

    	    div {
    	    	display: table-cell;
    	    	vertical-align: middle;

    	    	@media screen and (max-width: 766px){
			    	display: block;
			    }

		    	h1 {
					font-size: 60px;
				    font-weight: 500;
				    line-height: 1em;

				    @media screen and (min-width: 981px) and (max-width: 1140px){
				    	font-size: 50px;
				    }

				    @media screen and (min-width: 767px) and (max-width: 980px){
				    	font-size: 40px;
				    }

				    @media screen and (max-width: 766px){
				    	font-size: 32px;
				    	text-align: center;
				    }
		    	}

		    	h3 {
		    		font-weight: 100;
	    		    font-size: 34px;
	    		    margin-top: 0.2em;

	    		    @media screen and (min-width: 981px) and (max-width: 1140px){
				    	font-size: 28px;
				    }

				    @media screen and (min-width: 767px) and (max-width: 980px){
				    	font-size: 22px;
				    }

				    @media screen and (max-width: 766px){
				    	font-size: 24px;
				    	text-align: center;
				    }
		    	}

		    	p {
		    		font-size: 18px;
		    		font-weight: 300;
		    		line-height: 1.5em;
		    		margin-top: 1em;
		    		max-width: 510px;
		    		color: #666;

		    		@media screen and (max-width: 766px){
		    			text-align: center;
		    		}

		    		&:before{
		    			content: "";
	    			    border-top: 1px solid #e6e6e6;
	    			    width: 50px;
	    			    position: relative;
	    			    display: block;
	    			    margin-bottom: 1em;

	    			    @media screen and (max-width: 766px){
	    			    	margin-left: auto;
	    			    	margin-right: auto;
	    			    }
		    		}

		    	}
    	    }

	    }
    }

    .sr {
    	width: 300px;

    	@media screen and (min-width: 767px) and (max-width: 1140px){
	    	width: 200px;
	    }

	    @media screen and (max-width: 766px){
	    	width: 100%;
	    	margin-top: 2em;
	    }



    	#main-nav {

    		ul {
    			padding: 0;
    			list-style: none;
    			text-align: right;

    			@media screen and (max-width: 766px){
    				text-align: center;
    			}

    			li {
    				display: inline-block;

    				&:first-of-type{
						margin-right: 20px;
					}

    				a {
    					transition: all 0.15s ease;
					    font-weight: 300;
					    font-size: 20px;
					    text-decoration: none;
					    border-bottom: 1px solid #eeeeee;
					    color: #8c8c8c;

    					&:hover{
    						color: #333;
    						border-bottom: 1px solid #666;
    					}

  
    				}
    			}
    		}
    	}
    }
}


//Project List
#projects {
	margin-top: 100px;

	@media screen and (max-width: 766px){
    	margin-top: 70px;
    }

	.s-i {

		#project-mod {

			.project-item {
				display: block;
				border-bottom: 1px solid #e6e6e6;
				transition: all 0.15s ease;
				padding: 30px;

				&:nth-of-type(2n){
					background: #fafafa;
				}

				h3 {
					font-size: 18px;
				}

				p {

					@media screen and (max-width: 766px){
				    	max-width: 1000px;
				    }

					&:first-of-type{
						color: #999999;
					    font-weight: lighter;
					    margin-bottom: 0.25em;
					}
				}

				a {
					transition: all 0.15s ease;
				    font-weight: 300;
				    font-size: 16px;
				    text-decoration: none;
				    border-bottom: 1px solid #eeeeee;
				    color: #333;
				    margin-top: 0.5em;
    				display: inline-block;

					&:hover{
						color: #333;
						cursor: pointer;
						border-bottom: 1px solid #666;
					}
				}
			}
		}
	}
}


//Bio
#bio {
	margin-top: 100px;

	@media screen and (max-width: 766px){
    	margin-top: 70px;
    }

	.s-i {

		#education {
			margin-top: 2em;
			margin-left: 2em;

			h6 {
				font-size: 20px;
			    font-weight: 500;
			    color: #333;
			    display: inline-block;
			}

			li {
				font-size: 16px;
				font-weight: 300;
				line-height: 1.5em;
				max-width: 800px;
				color: #666;
				margin-top: 0.75em;

				span {
					font-weight: bold;
				    color: #333;
				}
			}
		}
	}
}


//Image Bar #1
.img-bar {
	height: 160px;
    background-position: center !important;
    background-size: cover !important;
    margin-top: 100px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);

	@media screen and (max-width: 766px){
    	margin-top: 80px;
    }
}

#img-bar-1 {
    background: url(../img/github_imagebar_1.jpg);
}

//Image Bar #2
#img-bar-2 {
    background: url(../img/github_imagebar_2.jpg);
}

//Image Bar #3
#img-bar-3 {
    background: url(../img/github_footer.jpg);
    height: 300px;
    position: relative;
    z-index: 2;
}

//Footer
footer {
	background-color: #242424;

	.f-i {
		padding: 30px 0;
		text-align: center;

		a {
			transition: all 0.15s ease;
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid #454545;
			font-weight: 100;
			line-height: 1em;

			&:hover{
				border-bottom: 1px solid #fff;
			}
		}
	}	

}



